*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem; 
  background: radial-gradient(rgb(132, 0, 255) 70%, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main-container {
  width: 100rem;
  height: 65rem;
  border-radius: .5rem;
  background: rgba(0, 0, 0, .5);
  border: 6px ridge rgb(90, 90, 90);
  box-shadow: inset 0 0 2rem 2rem #000; 
  background-attachment: fixed;
  position: relative;
  margin: 10rem 0 0;
}

.main-heading {
  font-family: 'Michroma', sans-serif;
  position: absolute;
  font-size: 3rem;
  left: 50%;
  transform: translateX(-50%);
  top: -22%;
  font-weight: bold;
  word-spacing: 2rem;
  background: #000;
  padding: 2rem 3rem;
  border-radius: 50%;

  h2 {
    color: #fff;
  }
}

.potd-info {
  position: fixed;
  left: 50%;
  bottom: -100%;
  transform: translateX(-50%);
  font-size: 2.2rem;
  color: #fff;
  width: 68rem;
  background: rgba(0, 0, 0, .7);
  padding: 1.4rem;
  border: .6rem outset #808080;
  transition: all .6s ease;
  line-height: 3rem;
  z-index: 100;

  h3 {
    text-align: center;
  }

  p {
    margin: 2rem 0 0;
  }

  &.set-show {
    bottom: 28%;
  }

}

.container {
  width: 44rem;
  height: 26rem;
  background: rgba(0, 0, 0, .5);
  border-radius: .5rem;
  border: 2px solid rgba(0, 0, 0, .4);
  font-size: 1.8rem;
  color: #fff;
  padding: 1rem;
  transition: all .5s ease-out;
}