*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem; 
  background: radial-gradient( #0000ff 80%, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main-container {
  width: 120rem;
  height: 80rem;
  border-radius: .5rem;
  background: rgba(0, 0, 0, .5);
  border: 6px ridge rgb(90, 90, 90);
  box-shadow: inset 0 0 2rem 2rem #000; 
  background-attachment: fixed;
}

.clock-container {
  color: #000;
  position: relative;
  font-size: 3rem;
  width: 18rem;
  height: 18rem;
  background: rgba(252, 242, 210, .8);
  border-radius: 50%;
  border: .4rem solid rgba(99, 50, 30, .8);
  margin: 5rem 5rem;

  &::before {
    content: '';
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: rgba(34, 25, 12, .8);
    z-index: -1;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    content: '';
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    background: rgba(0, 0, 0, .8);
    z-index: 1;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 1.8rem;
  }

  .number1 {
    --rotation: 30deg;
  }
  
  .number2 {
    --rotation: 60deg;
  }

  .number3 {
    --rotation: 90deg;
  }

  .number4 {
    --rotation: 120deg;
  }

  .number5 {
    --rotation: 150deg;
  }

  .number6 {
    --rotation: 180deg;
  }

  .number7 {
    --rotation: 210deg;
  }

  .number8 {
    --rotation: 240deg;
  }

  .number9 {
    --rotation: 270deg;
  }

  .number10 {
    --rotation: 300deg;
  }

  .number11 {
    --rotation: 330deg;
  }

  .hand {
    --rotation: 30;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    background: rgba(0, 0, 0, .8);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    z-index: 10;
  }

  .hour {
    width: .6rem;
    height: 30%;
  }

  .minute {
    width: .4rem;
    height: 39%;
  }

  .second {
    width: 2px;
    height: 40%;
    background: rgba(105, 25, 255, .8);
  }
}

.potd-container {
  width: 40rem;
  height: 32rem;
  background: rgba(0, 0, 0, .2);
  border-radius: .5rem;
  border: 2px solid rgba(0, 0, 0, .4);
  font-size: 1.8rem;
  color: #fff;
  padding: 1rem
}

.image-container {
  width: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
  }
}